body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.supplier {
    text-align: center;
    font-style: normal;
    /*border: 2px solid #494949;*/
    /*border-right-color: #000;*/
    /*border-left-color: #000;*/
    display: inline-block;
}

.gradient-border {
    border-radius: 5px;
    border-top: 2px solid #fffdfc;
    border-bottom:2px solid #bcb0b7;
    background-image:
            linear-gradient(#fffdfc, #bcb0b7),
            linear-gradient(#fffdfc, #bcb0b7);
    background-size: 2px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}

#green-background{
    background-color: chartreuse;
}

#green-background:hover{
    background-color: #09ff39;
}

#blue-background{
    background-color: darkcyan;
}

#blue-background:hover{
    background-color: cornflowerblue;
}

a span{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.issue {
    font-size: 10px;
    font-style: normal;
    height: 100%;
    display: inline-block;
}
.issue:hover {
    border-color: darkkhaki;
    border: 10px solid red;
    border-width: thin;
}

.comic_book_thumbnail {
    width: 128px;
    height: 128px;
    max-height: 128px;
    max-width: 128px;
}

.modal_order_thumbnail{
    width: 256px;
    height: 256px;
    max-height: 256px;
    max-width: 256px;
}

.big-comic{
    max-width: 100%;
    max-height: 100%;
}

.padded_by_ten{
    padding-left: 10px;
    padding-right: 10px;
}

.rightAligned{
    text-align: right;
}

.button_icon{
    width: 64px;
    height: 40px;
    max-height: none;
    max-width: none;
}

#page-numbers {
    list-style: none;
    display: flex;
}

#page-numbers > li {
    margin-right: 0.3em;
    color: #000024;
    user-select: none;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    background-color: #d0e5ec;
    color: #010101;
}

.jose_theme {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #777;
    padding: 6px;
    border: solid #e6e6e6 1px;
    text-decoration: none;
}

.jose_theme:hover {
    background: #d0e5ec;
    text-decoration: none;
    color: black;
}

.jose_theme:disabled,
.jose_theme[disabled]{
    border: 1px solid #999999;
    background: #9a9a9a;
    color: #454545;
}

.comic-background {
    background: url('images/12.png');
}

.jose_row{
    margin-right: 0px;
    margin-left: 0px;
}

.orders_api_dont_work {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: #f00;
    -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.five-forty-p{
    height: 960px;
    width: 540px;
}

.no-button-theme{
    border: none;
    background: none;
    outline: none;
}
