body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.supplier {
    font-style: normal;
    background-color: cyan;
}

#green-background{
    background-color: chartreuse;
}

#green-background:hover{
    background-color: #09ff39;
}

#blue-background{
    background-color: darkcyan;
}

#blue-background:hover{
    background-color: cornflowerblue;
}

a span{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
}

.issue {
    font-style: normal;
    border: 2px;
    background-color: #ffa869;
}

.comic_book_thumbnail {
    width: 256px;
    height: 256px;
    max-height: 256px;
    max-width: 256px;
}


.padded_by_ten{
    padding-left: 10px;
    padding-right: 10px;
}

.rightAligned{
    text-align: right;
}

.button_icon{
    width: 64px;
    height: 40px;
    /*max-height: 40px;*/
    /*max-width: 40px;*/
    max-height: none;
    max-width: none;
}